pytest
httpx
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
openai
tenacity
tiktoken
pytest-asyncio
azure-identity
azure-core
azure-storage-blob
azure-keyvault-secrets
validators 
orjson
pylint
mypy
dotenv
ddgs #duckduckgo-search
langchain
langchain-openai
motor
pymongo
pydantic[email]
passlib[bcrypt]
azure-cognitiveservices-speech
pymongo